In [2]:
import pandas as pd
import numpy as np
GBQ_PROJECT_ID = '620265099307'

In [80]:
q='''
SELECT
  month,
  rx.pct,
ccg.org_type,
ccg.name,
  rx.bnf_name,
  rx.bnf_code,
  SUM(quantity) AS quantity,
  SUM(quantity*ncso.add_cost_per_qty) AS add_cost
FROM
  `hscic.normalised_prescribing_standard` AS rx
JOIN
  `dmd.ncso_calculator` AS ncso
ON
  rx.bnf_code = ncso.bnf_code
  AND rx.month=ncso.date
FULL OUTER JOIN
  hscic.ccgs AS ccg
ON
  rx.pct=ccg.code
GROUP BY
rx.pct,
ccg.org_type,
ccg.name,
  rx.bnf_code,
  rx.bnf_name,
  month,
  ncso.add_cost_per_qty
UNION ALL
SELECT
  ncso.date,
    rx.pct,
    ccg.org_type,
    ccg.name,
    rx.bnf_name,
  rx.bnf_code,
  SUM(quantity) AS quantity,
  SUM(quantity*ncso.add_cost_per_qty) AS add_cost
FROM
  `hscic.normalised_prescribing_standard_latest_month` AS rx
JOIN
  `dmd.ncso_calculator` AS ncso
ON
  rx.bnf_code = ncso.bnf_code
  JOIN
  hscic.ccgs AS ccg
ON
  rx.pct=ccg.code
WHERE
  ncso.date>(
  SELECT
    MAX(rx1.month)
  FROM
    hscic.normalised_prescribing_standard_latest_month AS rx1)
  GROUP BY
    rx.pct,
    ccg.org_type,
    ccg.name,
    rx.bnf_code,
    rx.bnf_name,
    ncso.date,
    ncso.add_cost_per_qty'''
   

   
    
all_ncso = pd.read_gbq(q, GBQ_PROJECT_ID, verbose=False, dialect='standard')
all_ncso
###ccg_ncso = all_ncso.loc[ccg.org_type =='ccg']##
###nonccg_ncso  = all_ncso.loc[ccg.org_type !='ccg']##

C:\Users\bmackenna\Anaconda3\lib\site-packages\pandas_gbq\gbq.py:556: FutureWarning: verbose is deprecated and will be removed in a future version. Set logging level in order to vary verbosity
  "verbosity", FutureWarning, stacklevel=1)

,month,pct,org_type,name,bnf_name,bnf_code,quantity,add_cost
0,NaT,None,PCT,Sunderland Teaching,None,None,None,nan
1,NaT,None,PCT,Enfield,None,None,None,nan
2,NaT,None,PCT,North Staffordshire,None,None,None,nan
3,NaT,None,Unknown,THAMES VALLEY COMMISSIONING HUB,None,None,None,nan
4,NaT,None,Unknown,SOUTH WEST SOUTH COMMISSIONING HUB,None,None,None,nan
5,NaT,None,PCT,South Staffordshire,None,None,None,nan
6,NaT,None,PCT,Warwickshire,None,None,None,nan
7,NaT,None,PCT,East Sussex Downs and Weald,None,None,None,nan
8,NaT,None,Unknown,WEST YORKSHIRE COMMISSIONING HUB,None,None,None,nan
9,NaT,None,PCT,Harrow,None,None,None,nan
10,NaT,None,PCT,Lewisham,None,None,None,nan
11,NaT,None,PCT,Luton,None,None,None,nan
12,NaT,None,PCT,Bexley,None,None,None,nan
13,NaT,None,Unknown,WEST MIDLANDS COMMISSIONING HUB,None,None,None,nan
14,NaT,None,PCT,Derbyshire County,None,None,None,nan
15,NaT,None,PCT,North East Lincolnshire,None,None,None,nan
16,NaT,None,PCT,Knowsley,None,None,None,nan
17,NaT,None,Unknown,NATIONAL COMMISSIONING HUB 2,None,None,None,nan
18,NaT,None,CCG,NHS SOLIHULL CCG,None,None,None,nan
19,NaT,None,PCT,Wiltshire,None,None,None,nan
20,NaT,None,PCT,Waltham Forest,None,None,None,nan
21,NaT,None,PCT,Bath and North East Somerset,None,None,None,nan
22,NaT,None,PCT,Suffolk,None,None,None,nan
23,NaT,None,PCT,South Gloucestershire,None,None,None,nan
24,NaT,None,PCT,Hastings and Rother,None,None,None,nan
25,NaT,None,PCT,Warrington,None,None,None,nan
26,NaT,None,CCG,NHS NORTH MANCHESTER CCG,None,None,None,nan
27,NaT,None,PCT,Herefordshire,None,None,None,nan
28,NaT,None,Unknown,LANCASHIRE COMMISSIONING HUB,None,None,None,nan
29,NaT,None,PCT,Tameside and Glossop,None,None,None,nan
...,...,...,...,...,...,...,...,...
380163,2017-12-01,04H,CCG,NHS NEWARK AND SHERWOOD CCG,Haloperidol_Tab 1.5mg,0402010J0AAAJAJ,1288,408.48
380164,2017-12-01,RY8,Unknown,None,Haloperidol_Tab 1.5mg,0402010J0AAAJAJ,28,8.88
380165,2017-12-01,02P,CCG,NHS BARNSLEY CCG,Levetiracetam_Tab 250mg,0408010A0AAAAAA,12026,1791.87
380166,2017-12-01,NTP,Unknown,None,Venlafaxine_Tab 75mg,0403040W0AAABAB,104,1.30
380167,2017-12-01,112,Unknown,None,Levetiracetam_Tab 750mg,0408010A0AAAIAI,284,236.10
380168,2017-12-01,09P,CCG,NHS HASTINGS AND ROTHER CCG,Olanzapine_Tab 10mg,040201060AAACAC,6880,1287.54
380169,2017-12-01,06K,CCG,NHS EAST AND NORTH HERTFORDSHIRE CCG,Fexofenadine HCl_Tab 120mg,0304010E0AAAAAA,38995,1793.77
380170,2017-12-01,99G,CCG,NHS SOUTHEND CCG,Zolmitriptan_Tab 2.5mg,0407041Z0AAAAAA,491,12.28
380171,2017-12-01,09J,CCG,"NHS DARTFORD, GRAVESHAM AND SWANLEY CCG",Quetiapine_Tab 200mg,0402010ABAAADAD,3683,1954.45
380172,2017-12-01,07W,CCG,NHS EALING CCG,Enalapril Mal_Tab 5mg,0205051I0AAABAB,10430,469.35
380173,2017-12-01,06A,CCG,NHS WOLVERHAMPTON CCG,Citalopram Hydrob_Tab 20mg,0403030D0AAAAAA,93087,4554.61
380174,2017-12-01,08C,CCG,NHS HAMMERSMITH AND FULHAM CCG,Olanzapine_Tab 7.5mg,040201060AAABAB,1009,795.31
380175,2017-12-01,01E,CCG,NHS GREATER PRESTON CCG,Bicalutamide_Tab 50mg,0803042A0AAAAAA,679,228.68
380176,2017-12-01,04Q,CCG,NHS SOUTH WEST LINCOLNSHIRE CCG,Venlafaxine_Tab 75mg,0403040W0AAABAB,5264,65.80
380177,2017-12-01,05V,CCG,NHS STAFFORD AND SURROUNDS CCG,Levetiracetam_Tab 250mg,0408010A0AAAAAA,8829,1315.52
380178,2017-12-01,09H,CCG,NHS CRAWLEY CCG,Fexofenadine HCl_Tab 120mg,0304010E0AAAAAA,5944,273.42
380179,2017-12-01,01R,CCG,NHS SOUTH CHESHIRE CCG,Citalopram Hydrob_Tab 20mg,0403030D0AAAAAA,80178,3923.00
380180,2017-12-01,10R,CCG,NHS PORTSMOUTH CCG,Anastrozole_Tab 1mg,0803041B0AAAAAA,3544,656.91
380181,2017-12-01,99P,CCG,"NHS NORTHERN, EASTERN AND WESTERN DEVON CCG",Bicalutamide_Tab 150mg,0803042A0AAABAB,3619,2813.77
380182,2017-12-01,05X,CCG,NHS TELFORD AND WREKIN CCG,Fexofenadine HCl_Tab 180mg,0304010E0AAABAB,17588,492.46
380183,2017-12-01,03K,CCG,NHS NORTH LINCOLNSHIRE CCG,Glimepiride_Tab 3mg,0601021A0AAACAC,3526,322.04
380184,2017-12-01,15F,CCG,NHS LEEDS CCG,Oxazepam_Tab 15mg,0401020T0AAACAC,2071,681.21
380185,2017-12-01,04E,CCG,NHS MANSFIELD AND ASHFIELD CCG,Duloxetine HCl_Cap G/R 20mg,0704020AAAAAAAA,3713,834.10
380186,2017-12-01,09X,CCG,NHS HORSHAM AND MID SUSSEX CCG,Terbinafine HCl_Tab 250mg,0502050C0AAAAAA,4701,2793.74
380187,2017-12-01,08E,CCG,NHS HARROW CCG,Venlafaxine_Tab 37.5mg,0403040W0AAAAAA,4242,42.42
380188,2017-12-01,10J,CCG,NHS NORTH HAMPSHIRE CCG,Duloxetine HCl_Cap G/R 60mg,0403040Y0AAABAB,14712,6394.47
380189,2017-12-01,99C,CCG,NHS NORTH TYNESIDE CCG,Levetiracetam_Tab 750mg,0408010A0AAAIAI,2964,2464.07
380190,2017-12-01,02F,CCG,NHS WEST CHESHIRE CCG,Duloxetine HCl_Cap G/R 60mg,0403040Y0AAABAB,15288,6644.82
380191,2017-12-01,14Y,CCG,NHS BUCKINGHAMSHIRE CCG,Chlorpromazine HCl_Tab 25mg,0402010D0AAAIAI,2298,2480.20
380192,2017-12-01,99Q,CCG,NHS SOUTH DEVON AND TORBAY CCG,Perindopril Erbumine_Tab 2mg,0205051M0AAAAAA,8337,2100.92

In [111]:
##### nonccg file
nonccg_ncso  = all_ncso.loc[all_ncso.org_type !='CCG']
nonccg_ncso.head()

,month,pct,org_type,name,bnf_name,bnf_code,quantity,add_cost
0,NaT,None,PCT,Sunderland Teaching,None,None,None,nan
1,NaT,None,PCT,Enfield,None,None,None,nan
2,NaT,None,PCT,North Staffordshire,None,None,None,nan
3,NaT,None,Unknown,THAMES VALLEY COMMISSIONING HUB,None,None,None,nan
4,NaT,None,Unknown,SOUTH WEST SOUTH COMMISSIONING HUB,None,None,None,nan

In [112]:
##### ccg file
ccg_ncso  = all_ncso.loc[all_ncso.org_type =='CCG']
ccg_ncso.head()

,month,pct,org_type,name,bnf_name,bnf_code,quantity,add_cost
18,NaT,None,CCG,NHS SOLIHULL CCG,None,None,None,nan
26,NaT,None,CCG,NHS NORTH MANCHESTER CCG,None,None,None,nan
46,NaT,None,CCG,NHS AYLESBURY VALE CCG,None,None,None,nan
63,NaT,None,CCG,NHS SOUTH READING CCG,None,None,None,nan
77,NaT,None,CCG,"NHS WINDSOR, ASCOT AND MAIDENHEAD CCG",None,None,None,nan

### 2018 Impact - all months, all orgs, all meds

In [113]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [114]:
nonccg_ncso_thisyear = nonccg_ncso.loc[(nonccg_ncso["month"]>="2018-01-01")]
nonccg_ncso_thisyear.head()

,month,pct,org_type,name,bnf_name,bnf_code,quantity,add_cost
2692,2018-08-01,RY4,Unknown,None,Propranolol HCl_Tab 40mg,0204000R0AAAJAJ,28,1.62
2698,2018-08-01,RTV,Unknown,None,Risperidone_Tab 1mg,040201030AAAAAA,204,34.07
2731,2018-08-01,RMC,Unknown,None,Oxybutynin HCl_Tab 5mg,0704020J0AAACAC,56,2.25
2761,2018-08-01,NDA,Unknown,None,Tadalafil_Tab 5mg,0704050R0AAADAD,588,458.64
2786,2018-08-01,RXA,Unknown,None,Risperidone_Tab 1mg,040201030AAAAAA,56,9.35

In [124]:
ccg_ncso_thisyear = ccg_ncso.loc[(ccg_ncso["month"]>="2018-01-01")]
ccg_ncso_thisyear.head()

,month,pct,org_type,name,bnf_name,bnf_code,quantity,add_cost
2687,2018-08-01,01J,CCG,NHS KNOWSLEY CCG,Ramipril_Tab 1.25mg,0205051R0AAAKAK,2751,23.58
2688,2018-08-01,01Y,CCG,NHS TAMESIDE AND GLOSSOP CCG,Lamotrigine_Tab 25mg,0408010H0AAACAC,10335,852.64
2689,2018-08-01,04G,CCG,NHS NENE CCG,Hydroxocobalamin_Inj 1mg/ml 1ml Amp,0901020N0AAABAB,2960,1053.76
2690,2018-08-01,00V,CCG,NHS BURY CCG,Mometasone Fur_Crm 0.1%,1304000Y0AAAAAA,2490,49.05
2691,2018-08-01,06Y,CCG,NHS SOUTH NORFOLK CCG,Amisulpride_Tab 200mg,0402010A0AAAAAA,960,129.12

### 2018 - all orgs

In [127]:
nonccg_ncso_thisyear.sum()

add_cost   6167227.26
dtype: float64

In [128]:
ccg_ncso_thisyear.sum()

add_cost   169346146.13
dtype: float64

### 2018 - all meds

In [129]:
### nonccg orgs grouped by meds
nonccg_ncso_thisyear.groupby('bnf_name').sum()

                                      add_cost
bnf_name
Allopurinol_Tab 100mg                   316.76
Allopurinol_Tab 300mg                   433.57
Amiloride HCl_Tab 5mg                   151.35
Amisulpride_Tab 100mg                   291.65
Amisulpride_Tab 200mg                   662.82
Amisulpride_Tab 50mg                    219.01
Amitriptyline HCl_Tab 50mg               18.06
Amlodipine_Tab 10mg                     212.53
Amlodipine_Tab 5mg                      311.85
Anastrozole_Tab 1mg                      93.56
Aripiprazole_Tab 10mg                  1966.74
Aripiprazole_Tab 15mg                   700.51
Aripiprazole_Tab 5mg                   2449.86
Atorvastatin_Tab 80mg                    15.79
Bicalutamide_Tab 150mg                  255.56
Bicalutamide_Tab 50mg                   399.45
Bisacodyl_Tab E/C 5mg                   146.56
Brimonidine Tart_Eye Dps 0.2%           124.80
Buprenorphine_Tab Subling 2mg S/F   1995799.31
Buprenorphine_Tab Subling 8mg S/F   3982742.62
Carvedilol_Tab 25mg                      59.81
Chlorpromazine HCl_Tab 100mg           1209.73
Chlorpromazine HCl_Tab 25mg            1108.95
Chlorpromazine HCl_Tab 50mg             977.21
Citalopram HCl_Oral Dps 40mg/ml S/F      12.20
Citalopram Hydrob_Tab 10mg               58.00
Citalopram Hydrob_Tab 20mg               63.81
Citalopram Hydrob_Tab 40mg               72.98
Clomipramine HCl_Cap 10mg                15.93
Clomipramine HCl_Cap 50mg               119.73
...                                        ...
Risperidone_Tab 500mcg                 8550.82
Rizatriptan_Tab 10mg                     58.32
Sevelamer_Tab 800mg                      74.13
Sod Cromoglicate_Eye Dps Aq 2%           96.76
Sod Valpr_Oral Soln 200mg/5ml S/F       101.42
Sod Valpr_Tab E/C 200mg                  30.96
Sod Valpr_Tab E/C 500mg                 218.29
Sumatriptan_Tab 100mg                    57.14
Sumatriptan_Tab 50mg                    424.82
Tadalafil_Tab 5mg                      4274.14
Telmisartan_Tab 20mg                     24.68
Telmisartan_Tab 40mg                     31.06
Telmisartan_Tab 80mg                     59.57
Temazepam_Tab 10mg                      286.16
Terbinafine HCl_Tab 250mg               704.00
Tolterodine_Tab 1mg                      35.97
Tolterodine_Tab 2mg                      91.07
Topiramate_Tab 100mg                   1076.36
Topiramate_Tab 25mg                     248.11
Topiramate_Tab 50mg                     562.30
Tramadol HCl_Cap 50mg                   279.35
Tranexamic Acid_Tab 500mg               548.66
Trimethoprim_Oral Susp 50mg/5ml S/F    4467.41
Trimethoprim_Tab 200mg                  788.96
Valsartan_Cap 160mg                     109.23
Valsartan_Cap 40mg                      164.97
Valsartan_Cap 80mg                      204.48
Venlafaxine_Tab 37.5mg                  444.78
Venlafaxine_Tab 75mg                   1168.96
Vit B Co Strong_Tab                     934.85

[182 rows x 1 columns]

In [130]:
###ccg orgs grouped by meds
ccg_ncso_thisyear.groupby('bnf_name').sum()

                                      add_cost
bnf_name
Allopurinol_Tab 100mg               2880883.41
Allopurinol_Tab 300mg               4279247.96
Amiloride HCl_Tab 5mg                254428.08
Amisulpride_Tab 100mg                211562.96
Amisulpride_Tab 200mg                588444.97
Amisulpride_Tab 50mg                 113142.48
Amitriptyline HCl_Tab 50mg            93302.16
Amlodipine_Tab 10mg                 1038900.89
Amlodipine_Tab 5mg                  1547104.55
Anastrozole_Tab 1mg                  311700.72
Aripiprazole_Tab 10mg                448589.09
Aripiprazole_Tab 15mg                181229.69
Aripiprazole_Tab 5mg                 211900.29
Atorvastatin_Tab 80mg                 55783.78
Bicalutamide_Tab 150mg               753789.44
Bicalutamide_Tab 50mg               1008123.58
Bisacodyl_Tab E/C 5mg                253439.87
Brimonidine Tart_Eye Dps 0.2%        426564.70
Buprenorphine_Tab Subling 2mg S/F   1181445.96
Buprenorphine_Tab Subling 8mg S/F   1867981.47
Carvedilol_Tab 25mg                  211059.25
Chlorpromazine HCl_Tab 100mg         453881.80
Chlorpromazine HCl_Tab 25mg          831919.98
Chlorpromazine HCl_Tab 50mg          901429.42
Citalopram HCl_Oral Dps 40mg/ml S/F    4715.30
Citalopram Hydrob_Tab 10mg           140454.07
Citalopram Hydrob_Tab 20mg           194556.79
Citalopram Hydrob_Tab 40mg           206126.93
Clomipramine HCl_Cap 10mg             21343.86
Clomipramine HCl_Cap 50mg            109249.30
...                                        ...
Risperidone_Tab 500mcg              1027863.77
Rizatriptan_Tab 10mg                  54880.20
Sevelamer_Tab 800mg                  553337.67
Sod Cromoglicate_Eye Dps Aq 2%       191207.99
Sod Valpr_Oral Soln 200mg/5ml S/F    227619.19
Sod Valpr_Tab E/C 200mg              164623.48
Sod Valpr_Tab E/C 500mg              435498.57
Sumatriptan_Tab 100mg                133244.78
Sumatriptan_Tab 50mg                 689799.82
Tadalafil_Tab 5mg                   2620329.43
Telmisartan_Tab 20mg                  71785.42
Telmisartan_Tab 40mg                 196124.49
Telmisartan_Tab 80mg                 248561.30
Temazepam_Tab 10mg                   184448.25
Terbinafine HCl_Tab 250mg            473573.86
Tolterodine_Tab 1mg                  140502.96
Tolterodine_Tab 2mg                  305833.06
Topiramate_Tab 100mg                2069798.51
Topiramate_Tab 25mg                 1165867.45
Topiramate_Tab 50mg                 1855109.19
Tramadol HCl_Cap 50mg                767174.75
Tranexamic Acid_Tab 500mg            224814.15
Trimethoprim_Oral Susp 50mg/5ml S/F  250037.63
Trimethoprim_Tab 200mg                59209.44
Valsartan_Cap 160mg                  996549.69
Valsartan_Cap 40mg                   163436.27
Valsartan_Cap 80mg                   617818.64
Venlafaxine_Tab 37.5mg               412274.38
Venlafaxine_Tab 75mg                1225423.26
Vit B Co Strong_Tab                 1199147.82

[183 rows x 1 columns]

### month

In [131]:
nonccg_ncso_thisyear.groupby('month').sum()

            add_cost
month
2018-01-01  13283.59
2018-02-01  21571.52
2018-03-01  25528.61
2018-04-01  47863.06
2018-05-01 938212.49
2018-06-01 608535.03
2018-07-01 675600.52
2018-08-01 518043.53
2018-09-01 796207.75
2018-10-01 866156.20
2018-11-01 819133.43
2018-12-01 824260.66
2019-01-01  12830.85

In [132]:
ccg_ncso_thisyear.groupby('month').sum()

              add_cost
month
2018-01-01 16255685.14
2018-02-01  9768310.09
2018-03-01  8894242.02
2018-04-01  4319452.42
2018-05-01  9097091.12
2018-06-01  9990264.72
2018-07-01 11426196.34
2018-08-01  9774070.28
2018-09-01  9787681.37
2018-10-01 18059376.05
2018-11-01 24195110.35
2018-12-01 27589213.95
2019-01-01 10189452.29

In [222]:
total_impact = nonccg_ncso_thisyear.groupby('month').sum() + ccg_ncso_thisyear.groupby('month').sum() 
total_impact

              add_cost
month
2018-01-01 16268968.73
2018-02-01  9789881.61
2018-03-01  8919770.63
2018-04-01  4367315.48
2018-05-01 10035303.60
2018-06-01 10598799.75
2018-07-01 12101796.87
2018-08-01 10292113.82
2018-09-01 10583889.11
2018-10-01 18925532.26
2018-11-01 25014243.78
2018-12-01 28413474.61
2019-01-01 10202283.14

In [223]:
####figures calculated by DHSC from PCA datset and figures from OP live site
df1 = pd.read_csv('ncso.calculator.DHSC.analysis.csv')
df1

         month        DHSC        OP
0   01/01/2018 15970629.00  15085276
1   01/02/2018  9583323.00   9064992
2   01/03/2018  8818888.00   8253857
3   01/04/2018  4369089.00   4008452
4   01/05/2018 10478057.00   8442101
5   01/06/2018 10710781.00   9270966
6   01/07/2018 12417455.00  10603510
7   01/08/2018 10563113.00   9070337
8   01/09/2018 11035388.00   9082968
9   01/10/2018         nan  16759101
10  01/11/2018         nan  22453062
11  01/12/2018         nan  25609055
12  01/01/2019         nan   9455812

In [240]:
df1.set_index(pd.to_datetime(df1['month'],dayfirst=True), inplace=True)
df1

                 month        DHSC        OP
month
2018-01-01  01/01/2018 15970629.00  15085276
2018-02-01  01/02/2018  9583323.00   9064992
2018-03-01  01/03/2018  8818888.00   8253857
2018-04-01  01/04/2018  4369089.00   4008452
2018-05-01  01/05/2018 10478057.00   8442101
2018-06-01  01/06/2018 10710781.00   9270966
2018-07-01  01/07/2018 12417455.00  10603510
2018-08-01  01/08/2018 10563113.00   9070337
2018-09-01  01/09/2018 11035388.00   9082968
2018-10-01  01/10/2018         nan  16759101
2018-11-01  01/11/2018         nan  22453062
2018-12-01  01/12/2018         nan  25609055
2019-01-01  01/01/2019         nan   9455812

In [241]:
comparison = df1.merge(total_impact, left_index=True, right_index=True) 
comparison

                 month        DHSC        OP    add_cost
month
2018-01-01  01/01/2018 15970629.00  15085276 16268968.73
2018-02-01  01/02/2018  9583323.00   9064992  9789881.61
2018-03-01  01/03/2018  8818888.00   8253857  8919770.63
2018-04-01  01/04/2018  4369089.00   4008452  4367315.48
2018-05-01  01/05/2018 10478057.00   8442101 10035303.60
2018-06-01  01/06/2018 10710781.00   9270966 10598799.75
2018-07-01  01/07/2018 12417455.00  10603510 12101796.87
2018-08-01  01/08/2018 10563113.00   9070337 10292113.82
2018-09-01  01/09/2018 11035388.00   9082968 10583889.11
2018-10-01  01/10/2018         nan  16759101 18925532.26
2018-11-01  01/11/2018         nan  22453062 25014243.78
2018-12-01  01/12/2018         nan  25609055 28413474.61
2019-01-01  01/01/2019         nan   9455812 10202283.14

#### Comparison with DHSC

In [249]:
pc = comparison.copy()

pc["percentagediff"] = 100*((pc.DHSC-pc.add_cost)/pc.add_cost).fillna(0)
pc

                 month        DHSC        OP    add_cost  percentagediff
month
2018-01-01  01/01/2018 15970629.00  15085276 16268968.73           -1.83
2018-02-01  01/02/2018  9583323.00   9064992  9789881.61           -2.11
2018-03-01  01/03/2018  8818888.00   8253857  8919770.63           -1.13
2018-04-01  01/04/2018  4369089.00   4008452  4367315.48            0.04
2018-05-01  01/05/2018 10478057.00   8442101 10035303.60            4.41
2018-06-01  01/06/2018 10710781.00   9270966 10598799.75            1.06
2018-07-01  01/07/2018 12417455.00  10603510 12101796.87            2.61
2018-08-01  01/08/2018 10563113.00   9070337 10292113.82            2.63
2018-09-01  01/09/2018 11035388.00   9082968 10583889.11            4.27
2018-10-01  01/10/2018         nan  16759101 18925532.26            0.00
2018-11-01  01/11/2018         nan  22453062 25014243.78            0.00
2018-12-01  01/12/2018         nan  25609055 28413474.61            0.00
2019-01-01  01/01/2019         nan   9455812 10202283.14            0.00

In [250]:
pc.drop(columns=['OP'])

                 month        DHSC    add_cost  percentagediff
month
2018-01-01  01/01/2018 15970629.00 16268968.73           -1.83
2018-02-01  01/02/2018  9583323.00  9789881.61           -2.11
2018-03-01  01/03/2018  8818888.00  8919770.63           -1.13
2018-04-01  01/04/2018  4369089.00  4367315.48            0.04
2018-05-01  01/05/2018 10478057.00 10035303.60            4.41
2018-06-01  01/06/2018 10710781.00 10598799.75            1.06
2018-07-01  01/07/2018 12417455.00 12101796.87            2.61
2018-08-01  01/08/2018 10563113.00 10292113.82            2.63
2018-09-01  01/09/2018 11035388.00 10583889.11            4.27
2018-10-01  01/10/2018         nan 18925532.26            0.00
2018-11-01  01/11/2018         nan 25014243.78            0.00
2018-12-01  01/12/2018         nan 28413474.61            0.00
2019-01-01  01/01/2019         nan 10202283.14            0.00

### Non-CCG Codes

In [251]:
nonccg_ncso_thisyear.groupby('bnf_name').sum().sort_values(by='add_cost', ascending=False)

                                           add_cost
bnf_name
Buprenorphine_Tab Subling 8mg S/F        3982742.62
Buprenorphine_Tab Subling 2mg S/F        1995799.31
Phenoxymethylpenicillin_Soln 125mg/5ml     20080.54
Diamorph HCl_Inj 30mg Amp                  11734.47
Naproxen_Tab 500mg                         11448.29
Phenoxymethylpenicillin_Soln 250mg/5ml      9891.36
Risperidone_Tab 500mcg                      8550.82
Metronidazole_Tab 400mg                     7059.95
Diamorph HCl_Inj 10mg Amp                   6325.73
Risperidone_Tab 1mg                         5415.44
Ondansetron HCl_Tab 4mg                     4565.06
Trimethoprim_Oral Susp 50mg/5ml S/F         4467.41
Latanoprost_Eye Dps 50mcg/ml                4440.42
Tadalafil_Tab 5mg                           4274.14
Lamotrigine_Tab 100mg                       4135.10
Naproxen_Tab 250mg                          4021.88
Mometasone Fur_Oint 0.1%                    3792.78
Risperidone_Tab 2mg                         3571.94
Furosemide_Tab 40mg                         3299.38
Naproxen_Tab E/C 500mg                      3212.79
Phenoxymethylpenicillin_Soln 125mg/5mlSF    3184.40
Phenoxymethylpenicillin_Soln 250mg/5mlSF    2715.73
Aripiprazole_Tab 5mg                        2449.86
Risperidone_Tab 3mg                         2392.35
Mometasone Fur_Crm 0.1%                     2216.39
Propranolol HCl_Tab 10mg                    2190.77
Aripiprazole_Tab 10mg                       1966.74
Eplerenone_Tab 25mg                         1946.33
Lamotrigine_Tab 50mg                        1849.69
Lamotrigine_Tab 200mg                       1779.31
...                                             ...
Doxazosin Mesil_Tab 4mg                       26.91
Lercanidipine HCl_Tab 10mg                    26.82
Nicorandil_Tab 20mg                           25.08
Telmisartan_Tab 20mg                          24.68
Rasagiline Mesil_Tab 1mg                      21.68
Metronidazole_Tab 200mg                       19.00
Ramipril_Tab 1.25mg                           18.93
Amitriptyline HCl_Tab 50mg                    18.06
Clomipramine HCl_Cap 10mg                     15.93
Atorvastatin_Tab 80mg                         15.79
Propylthiouracil_Tab 50mg                     12.73
Propranolol HCl_Tab 80mg                      12.24
Citalopram HCl_Oral Dps 40mg/ml S/F           12.20
Enalapril Mal_Tab 20mg                        11.77
Enalapril Mal_Tab 10mg                        11.20
Metoprolol Tart_Tab 50mg                      10.96
Mirtazapine_Orodisper Tab 15mg                10.58
Doxazosin Mesil_Tab 1mg                        9.05
Digoxin_Tab 250mcg                             8.39
Enalapril Mal_Tab 5mg                          8.19
Duloxetine HCl_Cap G/R 40mg                    8.01
Lacidipine_Tab 4mg                             7.68
Doxazosin Mesil_Tab 2mg                        7.29
Nortriptyline_Tab 25mg                         7.08
Mirtazapine_Orodisper Tab 45mg                 6.25
Pregabalin_Cap 225mg                           5.94
Oxazepam_Tab 15mg                              5.45
Lacidipine_Tab 2mg                             3.60
Mirtazapine_Orodisper Tab 30mg                 1.56
Glyceryl Trinit_Sub P/Spy 400mcg (200D)        0.00

[182 rows x 1 columns]

In [266]:
nonccg_ncso_thisyear.groupby('org_type').sum().sort_values(by='add_cost', ascending=False)

           add_cost
org_type
Unknown  6167227.26

In [267]:
nonccg_ncso_thisyear.groupby('name').sum().sort_values(by='add_cost', ascending=False)

                                        add_cost
name
YORKSHIRE AND HUMBER COMMISSIONING HUB    461.75
SOUTH WEST COMMISSIONING HUB               92.96
NORTH MIDLANDS COMMISSIONING HUB           79.98
SOUTH EAST COMMISSIONING HUB               40.57
SOUTH CENTRAL COMMISSIONING HUB            22.21
LONDON COMMISSIONING HUB                    3.79
LANCASHIRE COMMISSIONING HUB                3.25
EAST COMMISSIONING HUB                      2.44

In [291]:
nonccg_ncso_thisyear.groupby('pct').sum().sort_values(by='add_cost', ascending=False)

      add_cost
pct
NMS 2261234.68
NKI  695935.35
NI3  241041.29
212  195113.31
RX4  190442.24
112  175160.76
NL1  138642.91
107  134666.31
114  125355.08
DG3  124783.30
116  124461.18
ARG  109690.05
110  101908.34
RXM  100951.20
AKQ   99413.10
NR5   84195.42
RXE   79430.83
215   72794.96
AJ6   71693.53
414   69642.02
211   68100.47
DLA   66968.93
310   61443.22
322   58291.93
AKV   57327.61
RXA   49693.94
DNK   49509.86
218   49447.18
313   48850.87
DEC   40403.56
..         ...
14H      22.21
NMK      22.07
RLQ      18.19
NL8      16.25
AC2      14.26
DAY      11.75
R1L      11.68
NLW      11.04
RXQ       8.72
RRV       7.68
NEQ       7.38
RGP       6.40
NQA       5.84
AWH       4.40
13R       3.79
14K       3.25
14E       2.44
R0A       1.98
RTG       1.92
RYK       1.58
DJT       1.32
AVQ       1.25
NLG       1.24
ATK       1.04
RXG       0.95
DAN       0.88
413       0.69
ACV       0.49
RY1       0.30
R1E       0.21

[193 rows x 1 columns]

In [295]:
df_councils = pd.read_csv(r'C:\Users\bmackenna\Documents\GitHub\jupyter-notebooks\price_concessions\Lauth.csv')
df_councils

,012,ISLE OF ANGLESEY UA,W00,Q99,COUNCIL OFFICES,Unnamed: 5,Unnamed: 6,LLANGEFNI,GWYNEDD,LL77 7TW,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,0,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,14,GWYNEDD UA,W00,Q99,SHIREHALL STREET,NaN,NaN,CAERNARFON,GWYNEDD,LL55 1SH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1,16,CONWY UA,W00,Q99,BODLONDEB,BANGOR ROAD,NaN,CONWY,GWYNEDD,LL32 8DU,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
2,18,DENBIGHSHIRE UA,W00,Q99,COUNCIL OFFICES,WYNNSTAY ROAD,NaN,RUTHIN,CLWYD,LL15 1YN,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
3,20,FLINTSHIRE UA,W00,Q99,COUNTY HALL,NaN,NaN,MOLD,CLWYD,CH7 6NB,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
4,22,WREXHAM UA,W00,Q99,THE GUILDHALL,NaN,NaN,WREXHAM,CLWYD,LL11 1AY,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
5,24,POWYS UA,W00,Q99,COUNTY HALL,NaN,NaN,LLANDRINDOD WELLS,POWYS,LD1 5LG,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
6,26,CEREDIGION UA,W00,Q99,PENMORFA,NaN,NaN,ABERAERON,DYFED,SA46 0PA,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
7,28,PEMBROKESHIRE UA,W00,Q99,COUNTY HALL,FREEMENS WAY,NaN,HAVERFORDWEST,DYFED,SA61 1TP,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
8,30,CARMARTHENSHIRE UA,W00,Q99,COUNTY HALL,NaN,NaN,CARMARTHEN,DYFED,SA31 1JP,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
9,32,SWANSEA UA,W00,Q99,CIVIC CENTRE,OYSTERMOUTH ROAD,NaN,SWANSEA,WEST GLAMORGAN,SA1 3SN,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
10,34,NEATH PORT TALBOT UA,W00,Q99,CIVIC CENTRE,NaN,NaN,PORT TALBOT,WEST GLAMORGAN,SA13 1PJ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
11,36,BRIDGEND UA,W00,Q99,CIVIC OFFICES,ANGEL STREET,NaN,BRIDGEND,MID GLAMORGAN,CF31 4WB,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
12,38,VALE OF GLAMORGAN UA,W00,Q99,CIVIC OFFICES,HOLTON ROAD,NaN,BARRY,SOUTH GLAMORGAN,CF63 4RU,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
13,40,"RHONDDA, CYNON, TAFF UA",W00,Q99,THE PAVILIONS,CAMBRIAN INDUSTRIAL PARK,CLYDACH VALE,TONYPANDY,MID GLAMORGAN,CF40 2XX,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
14,42,MERTHYR TYDFIL UA,W00,Q99,CIVIC CENTRE,NaN,NaN,MERTHYR TYDFIL,MID GLAMORGAN,CF47 8AN,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
15,44,CAERPHILLY UA,W00,Q99,PENALLTA HOUSE,TREDOMEN PARK,YSTRAD MYNACH,HENGOED,MID GLAMORGAN,CF82 7PG,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
16,45,BLAENAU GWENT UA,W00,Q99,MUNICIPAL OFFICES,CIVIC CENTRE,NaN,EBBW VALE,GWENT,NP23 6XB,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
17,46,TORFAEN UA,W00,Q99,CIVIC CENTRE,NaN,NaN,PONTYPOOL,GWENT,NP4 6YB,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
18,48,MONMOUTHSHIRE UA,W00,Q99,CROESYCEILIOG,NaN,NaN,CWMBRAN,GWENT,NP44 2BH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
19,50,NEWPORT UA,W00,Q99,CIVIC CENTRE,GODFREY ROAD,NaN,NEWPORT,GWENT,NP20 4UR,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
20,52,CARDIFF UA,W00,Q99,COUNTY HALL,ATLANTIC WHARF,NaN,CARDIFF,SOUTH GLAMORGAN,CF10 4UW,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
21,102,CUMBRIA COUNTY COUNCIL,Y54,Q74,THE COURTS,ENGLISH STREET,NaN,CARLISLE,CUMBRIA,CA3 8NA,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
22,104,NORTHUMBERLAND COUNTY COUNCIL,Y54,Q74,COUNTY HALL,NaN,NaN,MORPETH,NORTHUMBERLAND,NE61 2EF,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
23,105,ADUR DISTRICT COUNCIL,Y59,Q88,PORTLAND HOUSE,44 RICHMOND ROAD,NaN,WORTHING,WEST SUSSEX,BN11 1HS,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
24,106,GATESHEAD METROPOLITAN BOROUGH COUNCIL,Y54,Q74,CIVIC CENTRE,REGENT STREET,NaN,GATESHEAD,TYNE AND WEAR,NE8 1HH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
25,107,NEWCASTLE-UPON-TYNE CITY COUNCIL,Y54,Q74,CIVIC CENTRE,NaN,NaN,NEWCASTLE UPON TYNE,TYNE AND WEAR,NE1 8QH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
26,108,NORTH TYNESIDE COUNCIL,Y54,Q74,QUANDRANT,THE SILVERLINK NORTH,NaN,NEWCASTLE UPON TYNE,TYNE AND WEAR,NE27 0BY,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
27,109,SOUTH TYNESIDE METROPOLITAN BOROUGH COUNCIL,Y54,Q74,TOWN HALL,WESTOE ROAD,NaN,SOUTH SHIELDS,TYNE AND WEAR,NE33 2RL,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
28,110,SUNDERLAND CITY COUNCIL,Y54,Q74,CIVIC CENTRE,BURDON ROAD,NaN,SUNDERLAND,TYNE AND WEAR,SR2 7DN,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
29,111,HARTLEPOOL BOROUGH COUNCIL,Y54,Q74,CIVIC CENTRE,VICTORIA ROAD,NaN,HARTLEPOOL,CLEVELAND,TS24 8AY,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,732,LONDON BOROUGH OF REDBRIDGE COUNCIL,Y56,Q71,TOWN HALL,PO BOX 2,128-142 HIGH ROAD,ILFORD,ESSEX,IG1 1DD,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
346,733,LONDON BOROUGH OF RICHMOND UPON THAMES COUNCIL,Y56,Q71,CIVIC CENTRE,44 YORK STREET,NaN,TWICKENHAM,MIDDLESEX,TW1 3BZ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
347,734,LONDON BOROUGH OF SUTTON COUNCIL,Y56,Q71,CIVIC OFFICES,ST. NICHOLAS WAY,NaN,SUTTON,SURREY,SM1 1EA,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
348,735,LONDON BOROUGH OF WALTHAM FOREST COUNCIL,Y56,Q71,TOWN HALL,FOREST ROAD,NaN,LONDON,GREATER LONDON,E17 4JF,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
349,803,ISLE OF WIGHT COUNCIL,Y59,Q87,COUNTY HALL,HIGH STREET,NaN,NEWPORT,ISLE OF WIGHT,PO30 1UD,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
350,805,SURREY COUNTY COUNCIL,Y56,Q71,COUNTY HALL,PENRHYN ROAD,NaN,KINGSTON UPON THAMES,SURREY,KT1 2DW,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
351,807,WEST SUSSEX COUNTY COUNCIL,Y59,Q88,COUNTY HALL,WEST STREET,NaN,CHICHESTER,WEST SUSSEX,PO19 1RQ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
352,809,DORSET COUNTY COUNCIL,Y58,Q85,COUNTY HALL,COLLITON PARK,NaN,DORCHESTER,DORSET,DT1 1XJ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
353,810,BOURNEMOUTH BOROUGH COUNCIL,Y58,Q85,TOWN HALL,NaN,NaN,BOURNEMOUTH,DORSET,BH2 6DY,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
354,811,BOROUGH OF POOLE COUNCIL,Y58,Q85,MUNICIPAL BUILDINGS,CIVIC CENTRE,NaN,POOLE,DORSET,BH15 2RU,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
355,812,HAMPSHIRE COUNTY COUNCIL,Y59,Q87,THE CASTLE,CASTLE AVENUE,NaN,WINCHESTER,HAMPSHIRE,SO23 8UJ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
356,813,PORTSMOUTH CITY COUNCIL,Y59,Q87,CIVIC OFFICES,GUILDHALL SQUARE,NaN,PORTSMOUTH,HAMPSHIRE,PO1 2BG,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
357,814,SOUTHAMPTON CITY COUNCIL,Y59,Q87,CIVIC CENTRE,NaN,NaN,SOUTHAMPTON,HAMPSHIRE,SO14 7LY,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
358,815,EAST SUSSEX COUNTY COUNCIL,Y59,Q88,COUNTY HALL,ST. ANNES CRESCENT,NaN,LEWES,EAST SUSSEX,BN7 1UE,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
359,816,BRIGHTON & HOVE CITY COUNCIL,Y59,Q88,KINGS HOUSE,GRAND AVENUE,NaN,HOVE,EAST SUSSEX,BN3 2LS,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
360,817,WILTSHIRE COUNCIL,Y58,Q86,COUNTY HALL,BYTHESEA ROAD,NaN,TROWBRIDGE,WILTSHIRE,BA14 8JN,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
361,819,SWINDON BOROUGH COUNCIL (UNITARY),Y58,Q86,CIVIC OFFICES,EUCLID STREET,NaN,SWINDON,WILTSHIRE,SN1 2JH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
362,820,KENT COUNTY COUNCIL,Y59,Q88,COUNTY HALL,COUNTY ROAD,NaN,MAIDSTONE,KENT,ME14 1XQ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
363,821,MEDWAY COUNCIL,Y59,Q88,GUN WHARF,DOCK ROAD,NaN,CHATHAM,KENT,ME4 4TR,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
364,902,CORNWALL COUNCIL,Y58,Q85,COUNTY HALL,NaN,NaN,TRURO,CORNWALL,TR1 3AY,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
365,904,GLOUCESTERSHIRE COUNTY COUNCIL,Y58,Q86,SHIRE HALL,WESTGATE STREET,NaN,GLOUCESTER,GLOUCESTERSHIRE,GL1 2TG,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
366,905,SOMERSET COUNTY COUNCIL,Y58,Q85,COUNTY HALL,NaN,NaN,TAUNTON,SOMERSET,TA1 4DY,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
367,906,THE COUNCIL OF THE ISLES OF SCILLY,Y58,Q85,TOWN HALL,NaN,NaN,ST MARYS,ISLES OF SCILLY,TR21 0LW,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
368,908,BATH AND NORTH EAST SOMERSET COUNCIL,Y58,Q86,GUILDHALL,HIGH STREET,NaN,BATH,AVON,BA1 5AW,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
369,909,BRISTOL CITY COUNCIL,Y58,Q86,CITY HALL,COLLEGE GREEN,NaN,BRISTOL,AVON,BS1 5TR,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
370,910,NORTH SOMERSET DISTRICT COUNCIL,Y58,Q86,TOWN HALL,WALLISCOTE GROVE ROAD,NaN,WESTON-SUPER-MARE,AVON,BS23 1UJ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
371,911,SOUTH GLOUCESTERSHIRE COUNCIL,Y58,Q86,COUNCIL OFFICES,BADMINTON ROAD,YATE,BRISTOL,AVON,BS37 5AF,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
372,912,DEVON COUNTY COUNCIL,Y58,Q85,COUNTY HALL,TOPSHAM ROAD,NaN,EXETER,DEVON,EX2 4QD,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
373,913,PLYMOUTH CITY COUNCIL,Y58,Q85,CIVIC CENTRE,ARMADA WAY,NaN,PLYMOUTH,DEVON,PL1 2AA,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
374,914,TORBAY COUNCIL,Y58,Q85,TOWN HALL,CASTLE CIRCUS,NaN,TORQUAY,DEVON,TQ1 3DR,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan

In [297]:
df_indprov = pd.read_csv(r'C:\Users\bmackenna\Documents\GitHub\jupyter-notebooks\price_concessions\ephp.csv')
df_indprov

,AA4,INTRAHEALTH LTD,Y54,Q74,"1ST FLOOR, WILLIAM BROWN CENTRE",MANOR WAY,Unnamed: 6,PETERLEE,COUNTY DURHAM,SR8 5TW,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,0,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,AA5,COMPASS WELLBEING COMMUNITY INTEREST COMPANY,Y56,Q71,STEELS LANE HEALTH CENTRE,384-388 COMMERCIAL ROAD,NaN,LONDON,GREATER LONDON,E1 0LR,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1,AA6,ASSISTED CONCEPTION UNIT LTD,Y56,Q71,LEYTONSTONE HOUSE,LEYTONSTONE,NaN,LONDON,GREATER LONDON,E11 1GA,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
2,AA7,LEYLAND PHYSIOTHERAPY,Y54,Q84,83 BOW LANE,NaN,NaN,LEYLAND,LANCASHIRE,PR25 4YB,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
3,AA8,SMART CJS,Y59,Q87,BUILDING B,KIRTLINGTON BUSINESS CENTRE,"SLADE FARM, KIRTLINGTON",KIDLINGTON,OXFORDSHIRE,OX5 3JA,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
4,AA9,COTTER LAUBIS PARTNERS,Y56,Q71,BELLEGROVE SURGERY,174 BELLEGROVE ROAD,NaN,WELLING,KENT,DA16 3RE,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
5,AAA,BOOTS UK LIMITED,Y55,Q76,HEADQUARTERS,THANE ROAD,NaN,NOTTINGHAM,NOTTINGHAMSHIRE,NG90 1BS,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
6,AAC,RILA PUBLICATIONS LTD,Y56,Q71,73 NEWMAN STREET,NaN,NaN,LONDON,GREATER LONDON,W1T 3EJ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
7,AAD,HEALOGICS LTD,Y59,Q88,43 GILDREDGE ROAD,NaN,NaN,EASTBOURNE,EAST SUSSEX,BN21 4RY,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
8,AAE,SSAFA CARE CIC,Y56,Q71,QUEEN ELIZABETH HOUSE,4 ST. DUNSTAN'S HILL,NaN,LONDON,GREATER LONDON,EC3R 8AD,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
9,AAF,360 CARE LTD,Y54,Q72,CROMWELL PRIMARY CARE CENTRE,CROMWELL ROAD,NaN,GRIMSBY,SOUTH HUMBERSIDE,DN31 2BH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
10,AAG,SOLICITUDE LTD,Y55,Q78,78 HEADLANDS,NaN,NaN,KETTERING,NORTHAMPTONSHIRE,NN15 6DQ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
11,AAH,TETBURY HOSPITAL TRUST LTD,Y58,Q86,MALMESBURY ROAD,NaN,NaN,TETBURY,GLOUCESTERSHIRE,GL8 8XB,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
12,AAJ,ISIS CHIROPRACTIC CENTRES,Y55,Q78,ISIS HOUSE,50 TILERS ROAD,KILN FARM,MILTON KEYNES,BUCKINGHAMSHIRE,MK11 3EA,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
13,AAK,LONDON CANCER - UCLPARTNERS,Y56,Q71,3RD FLOOR,170 TOTTENHAM COURT ROAD,NaN,LONDON,GREATER LONDON,W1T 7HA,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
14,AAL,CANCER CARE,Y54,Q84,SLYNEDALES,SLYNE ROAD,NaN,LANCASTER,LANCASHIRE,LA2 6ST,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
15,AAM,PERSONALISED 4 AUTISM,Y55,Q78,SUITE 403 KG BUSINESS CENTRE,KINGSFIELD WAY,DALLINGTON,NORTHAMPTON,NORTHAMPTONSHIRE,NN5 7QS,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
16,AAN,ALEXIN HEALTHCARE LTD,Y55,Q76,36 KING STREET,DUFFIELD,NaN,BELPER,DERBYSHIRE,DE56 4EU,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
17,AAP,ACCIPITER LIMITED,Y59,Q87,NEWTOWN HOUSE,NEWTOWN ROAD,NaN,HENLEY-ON-THAMES,OXFORDSHIRE,RG9 1HG,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
18,AAQ,GP PRIMARY CHOICE LTD,Y55,Q79,21 NUNNS ROAD,NaN,NaN,COLCHESTER,ESSEX,CO1 1EJ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
19,AAR,LIFELINE PROJECT LTD,Y54,Q83,SUITE 2A,BASIL CHAMBERS,65 HIGH STREET,MANCHESTER,GREATER MANCHESTER,M4 1FS,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
20,AAT,HIDDEN HEARING LIMITED,Y59,Q88,MEDWAY STREET,NaN,NaN,MAIDSTONE,KENT,ME14 1HL,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
21,AAV,COMMUNITY HEALTH AND EYECARE LIMITED,Y54,Q84,132 HIGHFIELD ROAD,NaN,NaN,BLACKPOOL,LANCASHIRE,FY4 2HH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
22,AAW,ALLIED HEALTHCARE GROUP,Y55,Q78,BEACONSFIELD COURT,BEACONSFIELD ROAD,NaN,HATFIELD,HERTFORDSHIRE,AL10 8HU,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
23,AAX,SYDENHAM HOUSE MEDICAL PRACTICE,Y59,Q88,MILL COURT,NaN,NaN,ASHFORD,KENT,TN24 8DN,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
24,AAY,HOLBEACH AND EAST ELLOE HOSPITAL TRUST,Y55,Q78,HOLBEACH & EAST ELLOE HOSPITAL,BOSTON ROAD NORTH,HOLBEACH,SPALDING,LINCOLNSHIRE,PE12 8AQ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
25,AC0,EAST LANCASHIRE MEDICAL SERVICES LTD,Y54,Q84,ST. IVES HOUSE,ACCRINGTON ROAD,NaN,BLACKBURN,LANCASHIRE,BB1 2EG,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
26,AC2,THE HERNE BAY OPTHALMOLOGY CLINIC,Y59,Q88,BELTINGE & RECULVER SURGERY,269 RECULVER ROAD,BELTINGE,HERNE BAY,KENT,CT6 6SR,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
27,AC6,NEW HAYESBANK SURGERY CLINICS,Y59,Q88,NEW HAYESBANK SURGERY,CEMETERY LANE,KENNINGTON,ASHFORD,KENT,TN24 9JZ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
28,AC7,COBALT HEALTH,Y58,Q86,THIRLESTAINE ROAD,NaN,NaN,CHELTENHAM,GLOUCESTERSHIRE,GL53 7AS,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
29,AC8,NORTH EAST COMMUNITY HEALTH NETWORK,Y54,Q74,REDCAR PRIMARY CARE HOSPITAL,WEST DYKE ROAD,NaN,REDCAR,CLEVELAND,TS10 4NW,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1592,NY2,IVRY STREET MINOR SURGERY UNIT,Y55,Q79,5 IVRY STREET,NaN,NaN,IPSWICH,SUFFOLK,IP1 3QW,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1593,NY3,IPSCOM,Y55,Q79,29 CHESTERFIELD DRIVE,NaN,NaN,IPSWICH,SUFFOLK,IP1 6DW,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1594,NY4,ASSURA NORTH LANCS LLP,Y54,Q84,"UNIT 8, GROUND FLOOR","CALDER COURT, SHOREBURY POINT",AMY JOHNSON WAY,BLACKPOOL,LANCASHIRE,FY4 2RH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1595,NY5,ASSURA COVENTRY LLP,Y55,Q78,8 NARBOROUGH WOOD PARK,DESFORD ROAD,ENDERBY,LEICESTER,LEICESTERSHIRE,LE19 4XT,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1596,NY6,INHEALTH PAIN MANAGEMENT SOLUTIONS LIMITED,Y54,Q72,110 DODWORTH ROAD,NaN,NaN,BARNSLEY,SOUTH YORKSHIRE,S70 6HL,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1597,NY7,REGIONAL HEARING SPECIALISTS LTD,Y58,Q85,111-113 FORE STREET,NaN,NaN,SALTASH,CORNWALL,PL12 6AE,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1598,NY8,ASSURA HARTLEPOOL LLP,Y54,Q74,TITHEBARN HOUSE,HIGH NEWHAM ROAD,NaN,STOCKTON-ON-TEES,CLEVELAND,TS19 8RH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1599,NY9,ASSURA STOCKTON LLP,Y54,Q74,TITHEBARN HOUSE,HIGH NEWHAM ROAD,NaN,STOCKTON-ON-TEES,CLEVELAND,TS19 8RH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1600,NYA,ST ANDREW'S HEALTHCARE,Y55,Q78,ST. ANDREWS HOSPITAL,BILLING ROAD,NaN,NORTHAMPTON,NORTHAMPTONSHIRE,NN1 5DG,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1601,NYD,GASTRO CARE LTD,Y56,Q71,3 ARUNDEL ROAD,NaN,NaN,SUTTON,SURREY,SM2 7AD,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1602,NYE,MILDMAY UK,Y56,Q71,MILDMAY MISSION HOSPITAL,19 TABERNACLE GARDENS,NaN,LONDON,GREATER LONDON,E2 7DZ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1603,NYF,INVICTA HEALTH COMMUNITY INTEREST COMPANY,Y59,Q88,NORTHGATE MEDICAL PRACTICE,1 NORTHGATE,NaN,CANTERBURY,KENT,CT1 1WL,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1604,NYG,SUSSEX COMMUNITY DERMATOLOGY SERVICE,Y59,Q88,ADMINISTRATION OFFICE,51 CHESSWOOD ROAD,NaN,WORTHING,WEST SUSSEX,BN11 2AA,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1605,NYH,ASSURA HAMPSHIRE,Y59,Q87,DICKSON HOUSE,CROWN HEIGHTS,ALENCON LINK,BASINGSTOKE,HAMPSHIRE,RG21 7AH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1606,NYJ,TULIP MENTAL HEALTH GROUP,Y56,Q71,5 RIVER PARK ROAD,NaN,NaN,LONDON,GREATER LONDON,N22 7TB,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1607,NYK,NORK CLINIC,Y59,Q88,63 NORK WAY,NaN,NaN,BANSTEAD,SURREY,SM7 1HL,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1608,NYL,ONE TO ONE PHYSIOTHERAPY & REHABILITATION CENTRE,Y55,Q78,16-18 HIGH MARCH,HIGH MARCH INDUSTRIAL ESTATE,NaN,DAVENTRY,NORTHAMPTONSHIRE,NN11 4HB,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1609,NYM,HARROW HEALTH CIC,Y56,Q71,WESTBURY HOUSE,23-25 BRIDGE STREET,NaN,PINNER,MIDDLESEX,HA5 3HR,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1610,NYN,SPECSAVERS HEARCARE GROUP LTD,Y55,Q76,CIRRUS HOUSE,10 EXPERIAN WAY,NaN,NOTTINGHAM,NOTTINGHAMSHIRE,NG2 1EP,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1611,NYP,COASTAL HEALTH CARE LTD,Y54,Q84,THE BANK,155 VICTORIA ROAD EAST,NaN,THORNTON-CLEVELEYS,LANCASHIRE,FY5 5HH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1612,NYQ,FAIRLEY ENT KENT,Y59,Q88,71 MILL COURT,NaN,NaN,ASHFORD,KENT,TN24 8DN,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1613,NYR,GLOBAL DIAGNOSTICS,Y55,Q79,NORWICH COLNEY HALL,WATTON ROAD,NaN,NORWICH,NORFOLK,NR4 7TY,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1614,NYT,ASSURA EAST RIDING LLP,Y54,Q72,MELTON COURT,GIBSON LANE,MELTON,NORTH FERRIBY,NORTH HUMBERSIDE,HU14 3HH,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1615,NYV,AIR PRODUCTS HEALTHCARE,Y54,Q75,2 MILLENNIUM GATE,WESTMERE DRIVE,NaN,CREWE,CHESHIRE,CW1 6AP,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1616,NYW,ASPEN HEALTHCARE LIMITED,Y56,Q71,3RD FLOOR,CENTURION HOUSE,37 JEWRY STREET,LONDON,GREATER LONDON,EC3N 2ER,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1617,NYY,CHARTWELL PRIVATE HOSPITALS LTD,Y55,Q79,1629 LONDON ROAD,NaN,NaN,LEIGH-ON-SEA,ESSEX,SS9 2SQ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1618,STJ,OSTEOPATHY PLUS LTD,Y55,Q79,2A OAK LODGE AVENUE,NaN,NaN,CHIGWELL,ESSEX,IG7 5HZ,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1619,UJ4,GEOFFREY LLOYD FOULKES CLINIC,Y55,Q79,27 YORK ROAD,NaN,NaN,ILFORD,ESSEX,IG1 3AD,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1620,UXJ,CARE + LTD,Y56,Q71,82 CANADIAN AVENUE,NaN,NaN,LONDON,GREATER LONDON,SE6 3BP,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan
1621,VTK,UNIQUE CARE NETWORK LIMITED,Y55,Q77,"OFFICE 203, BLOCK 2",SANDWELL BUSINESS DEVELOPMENT CTR,OLDBURY ROAD,SMETHWICK,WEST MIDLANDS,B66 1NN,...,nan,nan,nan,nan,0,nan,nan,nan,nan,nan