This notebook sets out to analyse the total spend and volume in the last 12 months of a subset of measures

In [1]:
import importlib
import pandas as pd
import numpy as np
from ebmdatalab import bq, maps, charts

In [2]:
## ensuring the format is consistent for pounds and pence
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [3]:
import importlib
importlib.reload(bq)
measures = ['statinintensity', 'lyrica', 'desogestrel', 
            'glaucoma', 'fungal', 'glaucoma', 'methotrexate', 'keppra', 'ktt13_nsaids_ibuprofen',
           'other_lipid_modifying_drugs', 'tramadol', 'silver']

def get_data(measure_id):
    sql = """
SELECT
pct_id,
SUM(numerator) AS numerator_items,
SUM(denominator) AS denominator_items,
IEEE_DIVIDE(SUM(numerator), SUM(denominator)) AS calc_value, 
  '{measure_id}' AS measure_id
FROM
  measures.ccg_data_{measure_id} AS m
WHERE
month >= '2018-07-01' AND month <= '2019-06-01'
GROUP BY
  pct_id,
  measure_id
""".format(measure_id=measure_id)
    import pandas as pd
    df = bq.cached_read(sql, csv_path="measures_annual_total.csv".format(measure_id))
    return df

def get_dataframe(measures):
    df = pd.DataFrame()
    for measure in measures:
        df = df.append(get_data(measure))
    return df
df = get_dataframe(measures)

In [4]:
df.head(10)

  pct_id  numerator_items  denominator_items  calc_value       measure_id
0    00Q        119673.00          224275.00        0.53  statinintensity
1    00R        153486.00          316996.00        0.48  statinintensity
2    00X        123528.00          236992.00        0.52  statinintensity
3    01A        270886.00          554967.00        0.49  statinintensity
4    01E        138397.00          263712.00        0.52  statinintensity
5    01K        242760.00          471549.00        0.51  statinintensity
6    02G         70773.00          148732.00        0.48  statinintensity
7    02M        164649.00          327792.00        0.50  statinintensity
8    02N         77660.00          207008.00        0.38  statinintensity
9    02R         96267.00          439766.00        0.22  statinintensity

In [5]:
print(df)

    pct_id  numerator_items  denominator_items  calc_value       measure_id
0      00Q        119673.00          224275.00        0.53  statinintensity
1      00R        153486.00          316996.00        0.48  statinintensity
2      00X        123528.00          236992.00        0.52  statinintensity
3      01A        270886.00          554967.00        0.49  statinintensity
4      01E        138397.00          263712.00        0.52  statinintensity
5      01K        242760.00          471549.00        0.51  statinintensity
6      02G         70773.00          148732.00        0.48  statinintensity
7      02M        164649.00          327792.00        0.50  statinintensity
8      02N         77660.00          207008.00        0.38  statinintensity
9      02R         96267.00          439766.00        0.22  statinintensity
10     02T        120036.00          309199.00        0.39  statinintensity
11     02W         46961.00          180613.00        0.26  statinintensity
12     03A        136387.00          288735.00        0.47  statinintensity
13     03E         97940.00          208576.00        0.47  statinintensity
14     03J        127677.00          263933.00        0.48  statinintensity
15     03R        255168.00          530015.00        0.48  statinintensity
16     15F        433131.00         1013193.00        0.43  statinintensity
17     02Y        224387.00          496010.00        0.45  statinintensity
18     03F        210609.00          471327.00        0.45  statinintensity
19     03H        144703.00          291136.00        0.50  statinintensity
20     03K        151921.00          333138.00        0.46  statinintensity
21     03M         85223.00          189668.00        0.45  statinintensity
22     03Q        195480.00          410151.00        0.48  statinintensity
23     00T        191998.00          397278.00        0.48  statinintensity
24     00V        128396.00          271548.00        0.47  statinintensity
25     00Y        167580.00          376441.00        0.45  statinintensity
26     01D        139650.00          299294.00        0.47  statinintensity
27     01G        195311.00          409428.00        0.48  statinintensity
28     01W        224159.00          429322.00        0.52  statinintensity
29     01Y        156366.00          356879.00        0.44  statinintensity
..     ...              ...                ...         ...              ...
161    15N          3550.00          233557.00        0.02           silver
162    11X          1555.00           78793.00        0.02           silver
163    15C          1449.00           39201.00        0.04           silver
164    11E           285.00            9264.00        0.03           silver
165    12D           199.00            6794.00        0.03           silver
166    99N          1387.00           63004.00        0.02           silver
167    11J          2527.00          191122.00        0.01           silver
168    10J           581.00           18677.00        0.03           silver
169    10K           351.00           15467.00        0.02           silver
170    10L            33.00            1894.00        0.02           silver
171    10R          2146.00           44836.00        0.05           silver
172    10V           568.00           20625.00        0.03           silver
173    10X          1426.00           41685.00        0.03           silver
174    11A          1855.00           91811.00        0.02           silver
175    11M          1007.00          110420.00        0.01           silver
176    10Q           296.00           15016.00        0.02           silver
177    14Y           531.00           15847.00        0.03           silver
178    15A           214.00           12541.00        0.02           silver
179    00C           337.00           21789.00        0.02           silver
180    00D           909.00           50855.00        0.02           silver
181    00J           940.00           48151.00        0.02           silver
182    00K          1500.00           43994.00        0.03           silver
183    00L            74.00           10449.00        0.01           silver
184    00M          1328.00           34448.00        0.04           silver
185    00N           413.00           13947.00        0.03           silver
186    00P           781.00           22257.00        0.04           silver
187    01H          1536.00           71183.00        0.02           silver
188    03D          1270.00           44862.00        0.03           silver
189    13T          3071.00           84635.00        0.04           silver
190    99C            75.00            5831.00        0.01           silver

[2292 rows x 5 columns]

In [10]:
df.to_csv("test_measure.csv")